<?xml version="1.0" encoding="UTF-8"?>
<!-- debug：默认为false，设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。
	scan：配置文件如果发生改变，将会重新加载，默认值为true。
	scanPeriod：检测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位时毫秒，当scan为true时，这个属性生效，默认时间间隔为1min。
 -->
<configuration debug="true" scan="true" scanPeriod="60000">
	<appender name="stdOut" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
		<!-- 配置Filter，控制台只打印INFO级别的日志 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	
	<!-- 按照每天生成日志文件。日志文件滚动策略，设置日志文件名称，日志文件最多保存30天。
	 	  日志文件大小超高20M（默认10M），触发滚动策略。 -->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<file>e:/logs/demo/demo.log</file>
        <encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>e:/logs/demo/demo.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>20MB</maxFileSize>
		</triggeringPolicy>
	</appender>
	
	<!-- 日志输出级别 -->
	<root level="INFO">
		<appender-ref ref="stdOut"/>
		<appender-ref ref="fileAppender"/>
	</root>
	
	<!--日志异步到数据库 -->
	<!-- <appender name="db" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
				<driverClass>com.mysql.jdbc.Driver</driverClass>
				<url>jdbc:mysql://localhost:3306/demo</url>
				<user>root</user>
				<password>root123</password>
			</dataSource>
		</connectionSource>
	</appender> -->
	
</configuration>